/*
Primary
- Light red (CTA text): hsl(356, 100%, 66%)
- Very light red (CTA hover background): hsl(355, 100%, 74%)
- Very dark blue (headings): hsl(208, 49%, 24%)

Neutral
- White (text): hsl(0, 0%, 100%)
- Grayish blue (footer text): hsl(240, 2%, 79%)
- Very dark grayish blue (body copy): hsl(207, 13%, 34%)
- Very dark black blue (footer background): hsl(240, 10%, 16%)

### Gradient

Background gradient - Intro/CTA mobile nav:
- Very light red: hsl(13, 100%, 72%)
- Light red: hsl(353, 100%, 62%)

Background gradient - body:
- Very dark gray blue: hsl(237, 17%, 21%)
- Very dark desaturated blue: hsl(237, 23%, 32%)

*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');


:root {
    --primary-color-light-red: hsl(356, 100%, 66%);
    --primary-color-verylight-red: hsl(355, 100%, 74%);
    --primary-color-black-blue: hsl(240, 10%, 16%);

    --neutral-color-white: hsl(0, 0%, 100%);
    --neutral-color-grayblue: hsl(207, 13%, 34%);
    --neutral-color-blackblue: hsl(240, 10%, 16%);

    /*Gradient*/
    --background-intro-color-very-light-red: hsl(13, 100%, 72%);
    --background-intro-color-light-red: hsl(353, 100%, 62%);
    --background-intro-color-darker-red: hsl(349, 100%, 54%);

    --background-body-color-darkgray-blue: hsl(237, 17%, 21%);
    --background-body-color-desaturated-blue: hsl(237, 23%, 32%);
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

/* customize the scrollbar/scrollthumb, once min width is broken, scrollbar will change */

@media screen and (min-width: 1024px) {
    body::-webkit-scrollbar {
        width: 7px;
        background-color: var(--primary-color-black-blue);
    }

    body::-webkit-scrollbar-thumb {
        background: linear-gradient(var(--background-intro-color-very-light-red),var(--background-intro-color-light-red));
        border-radius: 5px;
    }
}

.header {
    height: 550px;
    border-bottom-left-radius: 75px;
    background-color: var(--primary-color-light-red);
    background-image: url("/images/bg-pattern-intro.svg");
    background-repeat: no-repeat;
    background-size: 350%;
    background-position: 35% 40%;
    color: var(--neutral-color-white);
}

@media screen and (min-width:1024px) {
    .header-nav {
        height: 100px;
        position: relative;
    }
}

.header-logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.images {
    width: 100%;
    height: 75px;
    position: relative;
}

.header-img,
.header-logo {
    position: absolute;
    top: 30px;
}

.header-img {
    right: 10px;
}

@media screen and (min-width:1024px) {
    .header-img {
        display: none;
    }
}

.header-logo {
    left: 10px;
}

@media screen and (min-width:1024px) {
    .header-logo {
        left: 50px;
    }
}

.header-menu {
    position: absolute;
    padding-left: 0;
    list-style: none;
    background-color: var(--neutral-color-white);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    transform: translateY(-140%) translateX(12%);
    transition: transform 0.6s;
}

@media screen and (min-width:1024px) {
    .header-menu {
        margin-top: 40px;
        background: none;
        display: flex;
        align-items: center;
    }
}

.show {
    transform: translateY(-6.5%) translateX(5%);
}

.header-item {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: var(--neutral-color-blackblue);
    text-align: center;
    padding-top: 10px;
    line-height: 2.5em;
}

@media screen and (min-width: 1024px) {
    .header-item {
        margin-left: 7.5%;
        width: 10%;
        cursor: pointer;
        position: relative;
        color: var(--neutral-color-white);
    }

    .header-item:nth-child(3),
    .header-item:nth-child(2) {
        margin-left: -30%;
    }
}

.item-img {
    display: inline-block;
    margin-left: 5px;
    padding: 0.25em;
    /* transition: transform; */
}

@media screen and (min-width:1024px) {
    .item-img {
        position: absolute;
        top: 22px;
    }
}

.rotate {
    transform: rotate(180deg);
}

.header-options {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    background-color: #eee;
    opacity: 0;
    line-height: 2em;
}

@media screen and (min-width:1024px) {
    .header-options {
        position: absolute;
        width: 150px;
        height: 175px;
        left: 50%;
        transform: translateX(-50%);

    }
}

.header-link:hover {
    color: var(--primary-color-black-blue);
    border-bottom: 1px solid;
}

.animation {
    opacity: 1;
    display: flex;
}

.header-link {
    color: var(--primary-color-black-blue);
}

.login {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

@media screen and (min-width:1024px) {
    .login {
        width: 250px;
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 50px;
    height: 45px;
    color: var(--primary-color-black-blue);
}

.btn-active {
    width: 100px;
    border-radius: 20px;
    background: linear-gradient(to right var(--background-intro-color-very-light-red), var(--background-intro-color-light-red));
    color: var(--neutral-color-white);
}

@media screen and (min-width:1024px) {
    .login a:first-of-type {
        color: var(--neutral-color-white);
    }
    .login a:last-of-type {
        background-color: var(--neutral-color-white);
        color: var(--primary-color-light-red);
    }
    .login a:last-of-type:hover {
        color: var(--neutral-color-white);
        background-color: var(--primary-color-light-red);
    }
}

.titles {
    padding-top: 4em;
}

.header-title {
    text-align: center;
    font-size: 2.2em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width:1024px) {
    .header-title {
        font-size: 2.5em;
        width: 90%;
        font-size: 700;
    }
}

.header-secondTitle {
    text-align: center;
    font-size: 1.2em;
}

.title-btns {
    padding-top: 3em;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (min-width:1024px) {
    .title-btns {
        justify-content: center;
    }
}

.btn-link,
.btn-transparent {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    font-weight: 600;
}

.btn-link {
    background-color: var(--neutral-color-white);
    color: var(--primary-color-light-red);
}

.btn-transparent {
    color: var(--neutral-color-white);
    border: 1px solid;
}

@media screen and (min-width:1024px) {
    .btn-link {
        margin-right: 25px;
    }

    .btn-link:hover {
        background-color: var(--primary-color-verylight-red);
        color: var(--neutral-color-white);
    }

    .btn-transparent:hover {
        background-color: var(--neutral-color-white);
        color: var(--primary-color-verylight-red);
    }
}


